body{
  background-color: #333;
}
.App {
  text-align: center;
  color: white;
  width: 50%;
  margin: 10px auto;
}
.tasks-wrapper
{
    border: 1px solid transparent;
    margin: 10px auto;
    display: flex;
    width: 100%;
    background: #3f4448;
    border-radius: .5rem;
}
.task-wrapper
{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5px 0px;
}

.task-count
{
  border: 1px solid;
  width: 25px;
  height: 25px;
  margin: 0px 15px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  font-family: cursive;
}

.task-title
{
  font-weight: 900;
  font-size: 20px;
  font-family: cursive;
  flex: 2;
  text-align: start;
}

.task-done .task-title
{
  text-decoration: line-through;
}

.icon-wrapper
{
  display: inline-block;
  text-align: end;
  margin-right: 10px;
}

.icon-wrapper span{
  margin:10px;
  display: inline-block;
  color: #00ff89;
  cursor: pointer;
}

@media only screen and (max-width: 800px)
{
  .App {
    width: 75%;
  }

}

@media only screen and (max-width: 500px)
{
  .App {
    width: 90%;
  }

}